
@font-face {font-family: "WeStar_iconfont";
  src: url('iconfont.eot?t=1477537569'); /* IE9*/
  src: url('iconfont.eot?t=1477537569#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1477537569') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1477537569') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1477537569#WeStar_iconfont') format('svg'); /* iOS 4.1- */
}

.WeStar_iconfont {
  font-family:"WeStar_iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.WeStar_icon-weixin:before { content: "\e61d"; }
.WeStar_icon-add:before { content: "\e619"; }
.WeStar_icon-kefu:before { content: "\e622"; }
.WeStar_icon-close:before { content: "\e60c"; }
.WeStar_icon-roundcheck:before { content: "\e600"; }
.WeStar_icon-roundclose:before { content: "\e603"; }
.WeStar_icon-bumen:before { content: "\e602"; }
.WeStar_icon-dianhua:before { content: "\e604"; }
.WeStar_icon-fenxiang1:before { content: "\e605"; }
.WeStar_icon-shoucang1:before { content: "\e627"; }
.WeStar_icon-setting:before { content: "\e606"; }
.WeStar_icon-home:before { content: "\e607"; }
.WeStar_icon-back:before { content: "\e618"; }
.WeStar_icon-youjian:before { content: "\e608"; }
.WeStar_icon-kaoqin:before { content: "\e611"; }
.WeStar_icon-search2:before { content: "\e630"; }
.WeStar_icon-message:before { content: "\e609"; }
.WeStar_icon-location:before { content: "\e60a"; }
.WeStar_icon-edit:before { content: "\e626"; }
.WeStar_icon-question:before { content: "\e615"; }
.WeStar_icon-zhaoxiang:before { content: "\e614"; }
.WeStar_icon-iconfontyijianfankui:before { content: "\e61e"; }
.WeStar_icon-male:before { content: "\e623"; }
.WeStar_icon-gongzuozhiwei:before { content: "\e616"; }
.WeStar_icon-arrow:before { content: "\e624"; }
.WeStar_icon-location1:before { content: "\e60b"; }
.WeStar_icon-gongsi:before { content: "\e60f"; }
.WeStar_icon-contact:before { content: "\e617"; }
.WeStar_icon-arrow-down:before { content: "\e613"; }
.WeStar_icon-arrowdown:before { content: "\e610"; }
.WeStar_icon-fanhui:before { content: "\e632"; }
.WeStar_icon-gonggao:before { content: "\e62a"; }
.WeStar_icon-jiari:before { content: "\e62b"; }
.WeStar_icon-shenhetongguo:before { content: "\e60d"; }
.WeStar_icon-3:before { content: "\e60e"; }
.WeStar_icon-rili:before { content: "\e621"; }
.WeStar_icon-lishi:before { content: "\e631"; }
.WeStar_icon-news:before { content: "\e629"; }
.WeStar_icon-me:before { content: "\e61b"; }
.WeStar_icon-zhengcefagui:before { content: "\e62c"; }
.WeStar_icon-icon-SMS:before { content: "\e61c"; }
.WeStar_icon-108:before { content: "\e62d"; }
.WeStar_icon-tongji:before { content: "\e612"; }
.WeStar_icon-check:before { content: "\e601"; }
.WeStar_icon-needle-right:before { content: "\e61a"; }
.WeStar_icon-fitness-pc-rubbish:before { content: "\e628"; }
.WeStar_icon-jiangcheng:before { content: "\e62e"; }
.WeStar_icon-female:before { content: "\e625"; }
.WeStar_icon-xuanshang:before { content: "\e62f"; }
.WeStar_icon-suoshuxiaozu:before { content: "\e61f"; }
.WeStar_icon-1801:before { content: "\e620"; }
