
@font-face {font-family: "iconfont";
  src: url('../fonts/iconfont.eot?t=1494327284941'); /* IE9*/
  src: url('../fonts/iconfont.eot?t=1494327284941#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/iconfont.woff?t=1494327284941') format('woff'), /* chrome, firefox */
  url('../fonts/iconfont.ttf?t=1494327284941') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('../fonts/iconfont.svg?t=1494327284941#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:30px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}

.icon-Female:before { content: "\e611"; }

.icon-more:before { content: "\e677"; }

.icon-star:before { content: "\e602"; }

.icon-gonggao:before { content: "\e61f"; }

.icon-left:before { content: "\e604"; }

.icon-right:before { content: "\e609"; }

.icon-avatar:before { content: "\e606"; }

.icon-shoujihao:before { content: "\e630"; }

.icon-shenpi:before { content: "\e614"; }

.icon-guzhongtixing:before { content: "\e628"; }

.icon-leifeng:before { content: "\e612"; }

.icon-forbidden:before { content: "\e621"; }

.icon-survey:before { content: "\e6b2"; }

.icon-plus1:before { content: "\e645"; }

.icon-rongyu:before { content: "\e615"; }

.icon-shouye:before { content: "\e62d"; }

.icon-yonghu:before { content: "\e633"; }

.icon-qingdan:before { content: "\e656"; }

.icon-shouyetianchong:before { content: "\e692"; }

.icon-yonghutianchong:before { content: "\e6a2"; }

.icon-biaoqing09:before { content: "\e60a"; }

.icon-qingdantianchong:before { content: "\e6ad"; }

.icon-tieshi:before { content: "\e607"; }

.icon-chuzhenbiaoshezhi:before { content: "\e613"; }

.icon-dot:before { content: "\e61d"; }

.icon-872tongshi:before { content: "\eaef"; }

.icon-875tongshi02:before { content: "\eaf2"; }

.icon-jixiao:before { content: "\e62e"; }

.icon-tianjiabanjixueyuan:before { content: "\e617"; }

.icon-1zuzhi:before { content: "\e644"; }

.icon-yyyzixun:before { content: "\e627"; }

.icon-daiban:before { content: "\e61e"; }

.icon-upload:before { content: "\e6a4"; }

.icon-xiaoxi:before { content: "\e620"; }

.icon-book:before { content: "\e6db"; }

.icon-13shouyebaoxian:before { content: "\e618"; }

.icon-more1:before { content: "\e655"; }

.icon-male:before { content: "\e81f"; }

.icon-feiji:before { content: "\e619"; }

.icon-zanzan:before { content: "\e60b"; }

.icon-talent:before { content: "\e608"; }

.icon-you:before { content: "\e61c"; }

.icon-lipin:before { content: "\e629"; }

.icon-naozhong:before { content: "\e62a"; }

.icon-53:before { content: "\e63a"; }

.icon-xin:before { content: "\e60c"; }

.icon-gongzidan01:before { content: "\e622"; }

.icon-cake:before { content: "\e603"; }

.icon-notice:before { content: "\e624"; }

.icon-zhengpin:before { content: "\e60f"; }

.icon-xiaoxi1:before { content: "\e626"; }

.icon-tubiaodiaozheng01:before { content: "\e64a"; }

.icon-tabItem_nor_news_pressed:before { content: "\e61a"; }

.icon-qingjiajiaban:before { content: "\e654"; }

.icon-16pxzhaopin:before { content: "\e65c"; }

.icon-qianke:before { content: "\e62b"; }

.icon-gth:before { content: "\e600"; }

.icon-geren:before { content: "\e657"; }

.icon-me:before { content: "\e601"; }

.icon-dangjiangongzuo:before { content: "\e638"; }

.icon-gerenfill:before { content: "\e6c5"; }

.icon-fu:before { content: "\e62c"; }

.icon-portfolio-copy:before { content: "\e62f"; }

.icon-shebao:before { content: "\e631"; }

.icon-list:before { content: "\e632"; }

.icon-zhijiexiashu:before { content: "\e605"; }

.icon-chuangxin:before { content: "\e60d"; }

.icon-jiankangceshi:before { content: "\e635"; }

.icon-icon4:before { content: "\e636"; }

.icon-top:before { content: "\e637"; }

.icon-zhaopin:before { content: "\e66e"; }

.icon-wendang:before { content: "\e639"; }

.icon-xinxi:before { content: "\e65b"; }

.icon-gonggao1:before { content: "\e66d"; }

.icon-gonggao2:before { content: "\e6b0"; }

.icon-more2:before { content: "\e61b"; }

.icon-jiankang:before { content: "\e732"; }

.icon-zaixianxuexi:before { content: "\e773"; }

.icon-dangan:before { content: "\e66f"; }

.icon-wodegongzi:before { content: "\e694"; }

.icon-wodejixiao:before { content: "\e696"; }

.icon-iconfontbaoxian:before { content: "\e634"; }

.icon-news1:before { content: "\e72c"; }

.icon-cdpleifeng:before { content: "\e610"; }

.icon-jiaban:before { content: "\e64c"; }

.icon-946caidan_jiaban:before { content: "\e689"; }

.icon-chekuangtouming:before { content: "\e685"; }

.icon-vote:before { content: "\e63f"; }

.icon-dangao:before { content: "\e67e"; }

.icon-licai:before { content: "\e63c"; }

.icon-xingzhuang:before { content: "\e63b"; }

.icon-baoxiao:before { content: "\e63d"; }

.icon-zaixianxuexi1:before { content: "\e671"; }

.icon-kaoqin:before { content: "\e63e"; }

.icon-guanzhu:before { content: "\e640"; }

.icon-QR:before { content: "\e736"; }

.icon-hetong:before { content: "\e65d"; }

.icon-zuzhijiegou:before { content: "\e641"; }

.icon-gantanhao:before { content: "\e60e"; }

.icon-comment:before { content: "\e83a"; }

.icon-cdplife:before { content: "\e642"; }

.icon-comment1:before { content: "\e623"; }

.icon-shijian:before { content: "\e643"; }

.icon-wosuozaidetuandui:before { content: "\e678"; }

.icon-jiabanshenqing:before { content: "\e695"; }

.icon-tongyongshenqing:before { content: "\e6a8"; }

.icon-xinzidan:before { content: "\e6aa"; }

.icon-xinzishenpi:before { content: "\e6ac"; }

.icon-xiujiashenqing:before { content: "\e6ae"; }

.icon-zhaopingenzong:before { content: "\e6b1"; }

.icon-zhengmingshenqing:before { content: "\e6b8"; }

.icon-FAQ:before { content: "\e6b9"; }

.icon-gongsizhengce:before { content: "\e6bc"; }

.icon-mobanxiazai:before { content: "\e6bd"; }

.icon-wocanyudetoupiaoyuwenjuan:before { content: "\e6c2"; }

.icon-wodebaoxiao:before { content: "\e6c3"; }

.icon-wodedanxingfuli:before { content: "\e6c6"; }

.icon-wodegongjijin:before { content: "\e6c7"; }

.icon-wodejixiao1:before { content: "\e6c9"; }

.icon-wodejiankang:before { content: "\e6ca"; }

.icon-wodekaoqin:before { content: "\e6cb"; }

.icon-wodelicai:before { content: "\e6cc"; }

.icon-wodequanmianxinchou:before { content: "\e6cf"; }

.icon-wodeshangbaofangan:before { content: "\e6d0"; }

.icon-wodeshebao:before { content: "\e6d1"; }

.icon-wodetuandui:before { content: "\e6d3"; }

.icon-wodexinxi:before { content: "\e6d5"; }

.icon-wodexuexi:before { content: "\e6d6"; }

.icon-wodexunzhang:before { content: "\e6d7"; }

.icon-wodezhaopintuijian:before { content: "\e6da"; }

.icon-wodeziliaoshangchuan:before { content: "\e6dc"; }

.icon-woshoudaodedianzan:before { content: "\e6dd"; }

.icon-wosuozaidetuandui1:before { content: "\e6de"; }

.icon-wodeshenpi:before { content: "\e6e3"; }

.icon-shenpidaili:before { content: "\e6e5"; }

.icon-CDPbiaozhunfuwuyilan:before { content: "\e6e6"; }

.icon-CDPfankuigenzong:before { content: "\e6e7"; }

.icon-HRtiwenfankui:before { content: "\e6e8"; }

.icon-SOPliuchengshuoming:before { content: "\e6e9"; }

.icon-baobiaoxiazai:before { content: "\e6ea"; }

.icon-biandongtongzhi:before { content: "\e6eb"; }

.icon-fuwuneirong:before { content: "\e6ec"; }

.icon-fuwuquerendanqueren:before { content: "\e6ed"; }

.icon-fulishenhe:before { content: "\e6ee"; }

.icon-hangyefangan:before { content: "\e6ef"; }

.icon-hetongneirong:before { content: "\e6f0"; }

.icon-shujushangchuan:before { content: "\e6f1"; }

.icon-zaixianyuangongjingyedutiaocha:before { content: "\e6f2"; }

.icon-xuqiubiangengtijiao:before { content: "\e6f3"; }

.icon-zhengcechaxun:before { content: "\e6f4"; }

.icon-zhuangtaigenzong:before { content: "\e6f5"; }

.icon-hangyebiaozhunmobanhebaobiao:before { content: "\e6f6"; }

.icon-dongtai:before { content: "\e6f8"; }

.icon-dongtai1:before { content: "\e6f9"; }

.icon-tongshi:before { content: "\e6fc"; }

.icon-tongshi1:before { content: "\e6fd"; }

.icon-wo:before { content: "\e6fe"; }

.icon-wo1:before { content: "\e6ff"; }

.icon-gengduo:before { content: "\e700"; }

.icon-attendAbnoraml:before { content: "\e697"; }

.icon-budaka:before { content: "\e6ba"; }

.icon-shangxiaban:before { content: "\e706"; }

.icon-outing:before { content: "\e703"; }

.icon-attendRecords:before { content: "\e704"; }

.icon-yidongkaoqin:before { content: "\e6df"; }

.icon-budaqiajilu:before { content: "\e6ba"; }

/* active图标字体 */
.tabbar a.router-link-active .icon-shouye:before{  content: "\e692";}

.tabbar a.router-link-active .icon-dongtai:before{  content: "\e6f9";}

.tabbar a.router-link-active .icon-wo:before{  content: "\e6ff";}

.tabbar a.router-link-active .icon-gonggao1:before{  content: "\e6b0";}

.tabbar a.router-link-active .icon-tongshi:before{  content: "\e6fd";}

.tabbar a.router-link-active .icon-attendAbnoraml:before{  content: "\e708";}

.tabbar a.router-link-active .icon-budaka:before{  content: "\e709";}

.tabbar a.router-link-active .icon-shangxiaban:before{  content: "\e707";}

.tabbar a.router-link-active .icon-outing:before{  content: "\e702";}

.tabbar a.router-link-active .icon-attendRecords:before{  content: "\e705";}


